<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Masters' Test Environment</title>
</head>
<style>
    body {
     background-color: aqua;   
    }
    div.center {
  text-align: center;
}
</style>
<body>
    <h1 style="text-align:center;">Welcome to Quiz Masters</h1> 
    <div class="center">
    <video autoplay="autoplay" controls>
        <source src="https://user-images.githubusercontent.com/113940939/193473294-a7fd3be5-05e1-4629-9db2-c40a910b40ea.mp4" type="video/mp4"> 
        </video>  
    </div> 
</body>
</html>
